header{
	background-color: white;
}
body
{
	background-color: #82B300;
	margin: 0;
}
h1{
	font-family: 'Lora', serif;
	color: 363636;
	font-size: 30px;
}
#logo {
	color:#525251;
	margin-left: 30px;
}
h1::first-letter{
	font-size: 37.5px
}
.smmenu
{
	position: absolute;
	left: 1000px;
	top: 7px;
	background-color: #82B300;
	border-radius: 10px;
	list-style: none;
	color: white;
	text-align: right;
}
.smmenu li
{	
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 3px;
	width: 20px;
	padding: 8px;
	background-color: black;
	border-radius: 100%;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	}
.smmenu li:hover {
	margin-right: 3px;
	background-color: steelblue;
	cursor: pointer;
}
.smmenu a:hover
{
	color: blue;
	background-color: red;
}
.smenu a:visited
{
	color: darkblue;
}

.topmenu 
{ 
	color: green;
	list-style: none;
	text-align: right;
	margin-left: 40px;
	padding: 0 5em 0 0;
}
.topmenu li
{
	display: inline;
	font-size: 15px;
	text-decoration: none;
	margin: 5px 0 0 0;
	padding: 5px 0 0 0;

}
.topmenu a
{
	color: green;
	text-decoration: none;
}

.mainmenu
{
	color: white;
	font-style: none;
	list-style: none;
	background-color: #82B300;
	padding: 1.5em;
}
.mainmenu li
{	
	display: inline;
	font-size: 0.8em;
	padding: 1em;
	font-style: none;
}
.mainmenu li input
{
	padding-left: 10px;
	float: right;
	text-align: left;
}
.mainmenu a
{
	color: white;
	text-decoration: none;
}
.mainmenu a:hover
{
	color: black;
}