
.foto
{
	background-color: #F2F2F2;

}
.fotoja
{
	margin-left: 150px;
	margin-top: 30px;
	margin-bottom: 50px;

}
.mesi 
{
	background-color: black;
}
.topmesi 
{
	padding: 2em;
	background-color: white;
	border-bottom: 2px solid;
}
.topmesi legend
{
	color: #8A9F38;
}
.botmesi
{
	padding: 2em;
	background-color: white;
	
}
.botmesi legend
{
	font-family: arial;
}
.botmesi a
{
	color: #9DAF5C;
	text-decoration: none;
	margin-left: 10em;
}
