body
{
  background-image: url("../foto/redcarbon.jpg");
}
.topmenu a
{
	color: red;
	font-style: bold;
}
.smmenu
{
  background:url("../foto/redcarbon.jpg");
}
.mainmenu 
{
  background:url("../foto/redcarbon.jpg");
  border: 1px black solid;
}
.mainContent {
    max-width: 100%;
    background-image: url("../foto/carbonfiber.jpg");
    background-repeat: repeat;
    margin: auto;
    text-align: center;
  }
  
  
  .row {
    margin: 20px 0px;
  }
  
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  
  .column {
    float: left;
    width: 20%;
    margin-left: 30px;
    margin-top: 25px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .content {
    background-color: rgba(255,255,255,0.3);
    padding: 5px;
    margin-left: 15;
  }
  .content:hover {
    border: 1px solid black;
    cursor: pointer;
    background-color: rgba(255,255,255,0.6);
  }
  
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .releasedate
  {
    color: black;
    font-size: 20px;
    font-family: Arial Black;
  }
  .headerGames
  {
    background-color: rgba(0 0 0 180);
  }
  .gametitull
  {
  	text-align: center;
  	color: white;
  	font-size: 40px;
  	text-shadow: 50px white solid;
  }
  .maingameContent p
  {
  	color: white;
  }