body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(../foto/340923.jpg);
    background-size: cover;
    font-family: Century Gothic;
}
.title{
    margin-top:  100px;
    color:#fff;

}
.title.h1{
    font-size: 32px;
    line-height: 10px;

}
.title h2{
    font-size: 16px;
}
form{
    margin-top: 50px;


}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;

}

button{
    height: 45px;
    border: 1px solid black;
}

form .submit{
    background-color: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    transition: 0.4s ease ;

}

form .submit:hover{
    background-color: #f44336;
    cursor: pointer ;
}