header{
	background-color: white;
}
body
{
	background-color: black;
}
h1{
	font-family: 'Lora', serif;
	color: 363636;
	font-size: 30px;
}
h1::first-letter{
	font-size: 37.5px
}
.smmenu
{
	background-color: #82B300;
	list-style: none;
	color: black;
	text-align: right;
}
.smmenu li
{
	display: inline;
	font-size: 15px;
	text-decoration: none;
	}
.smmenu a:hover
{
	color: blue;
	background-color: red;
}
.smenu a:visited
{
	color: darkblue;
}
.topmenu 
{ 
	color: green;
	list-style: none;
	text-align: right;
	margin: 0 1em 0 0;
	padding: 0 5em 0 0;
}
.topmenu li
{
	display: inline;
	font-size: 15px;
	text-decoration: none;
	margin: 5px 0 0 0;
	padding: 5px 0 0 0;

}
.topmenu a
{
	color: green;
	text-decoration: none;
	margin-top: 3em;
}

.mainmenu
{
	color: white;
	font-style: none;
	list-style: none;
	background-color: #82B300;
	padding: 1.5em;
}
.mainmenu li
{	
	display: inline;
	font-size: 0.8em;
	padding: 1em;
	font-style: none;
}
.mainmenu li input
{
	padding-left: 10px;
	float: right;
	text-align: left;
}
.mainmenu a
{
	color: white;
	text-decoration: none;
}
.mainmenu a:hover
{
	color: black;
}
.foto
{
	background-color: #F2F2F2;

}
.fotoja
{
	margin-left: 150px;
	margin-top: 30px;
	margin-bottom: 50px;

}
.mesi
{
	background-color: black;
}
.topmesi 
{
	padding: 2em;
	background-color: white;
	border-bottom: 2px solid;
}
.topmesi legend
{
	color: #8A9F38;
}
.botmesi
{
	padding: 2em;
	background-color: white;
	
}
.botmesi legend
{
	font-family: arial;
}
.botmesi a
{
	color: #9DAF5C;
	text-decoration: none;
	margin-left: 10em;
}
.kontaktet
{
	background-color: #3B3B3B;
	width: 100%
	

}
.kontaktet p,h4
{
	color: #6C6C6C;
}
.kontaktet legend
{
	color: #626262;
}
.kontaktet a
{
	color: #9DAF5C;
	margin-left: 10em;
}
.footer
{
	background-color: #2E2E2E;
	padding: 0.6em;
	color: #5C5C5C;
}
.button
{
  background-color: white; 
  border-width: 0.2px;
  color: #8EAB30;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 0em 0.6em 0.14em 0.6em;
}
.submitp
{
	background-color: black;
	color: red;
}
.submitp 
{
	background-color: #1F1F1F;
	color: white;
	border: 1px;
	border-radius: 0.6em;
	padding: 5px 8px 5px 8px;
	font-family: serif;
	color: green;
	text-transform: uppercase;
	font-weight: bold;
	}
.email
{
	color: white;
	background-color: #1F1F1F;
	border-radius: 0.60em;
	border: 1px;
	padding: 0.5em;
}
.name
{
	color: white;
	background-color: #1F1F1F;
	border-radius: 0.60em;
	border: 1px;
	padding: 0.5em;
}